config HAS_MSPM33_SDK
	bool

config USE_MSP_DL_GPIO
	bool

config USE_MSP_DL_UNICOMM_UART
	bool

config USE_MSP_DL_TIMER
	bool

config USE_MSP_DL_VREF
	bool

config USE_MSP_DL_HSADC
	bool

config USE_MSP_DL_UNICOMM_SPI
	bool

config USE_MSP_DL_DMA
	bool

config USE_MSP_DL_UNICOMM_I2CC
	bool

config USE_MSP_DL_UNICOMM_I2CT
	bool

config USE_MSP_DL_RTC_COMMON
	bool

config USE_MSP_DL_MCAN
	bool
