# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2025 Texas Instruments

if SOC_FAMILY_TI_MSPM33

rsource "*/Kconfig.defconfig"

DT_CHOSEN_Z_FLASH := zephyr,flash

config FLASH_SIZE
	default $(dt_chosen_reg_size_int,$(DT_CHOSEN_Z_FLASH),0,K)

config FLASH_BASE_ADDRESS
	default $(dt_chosen_reg_addr_hex,$(DT_CHOSEN_Z_FLASH))

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 160000000

endif # SOC_FAMILY_TI_MSPM33
