# Texas Instruments MSPM33 Family
# Copyright (c) 2025 Texas Instruments
# Copyright (c) 2025 Linumiz
# SPDX-License-Identifier: Apache-2.0

if SOC_FAMILY_TI_MSPM33

rsource "*/Kconfig"

config MSP_PERIPH_STARTUP_DELAY
	int
	default 8

endif # SOC_FAMILY_TI_MSPM33
