# Copyright (c) 2025 Linumiz GmbH
# SPDX-License-Identifier: Apache-2.0

config RTC_TI_MSP
	bool "Texas Instruments MSP RTC driver"
	default y
	depends on DT_HAS_TI_MSP_RTC_ENABLED
	help
	  Texas Instruments Real-Time Clock (RTC) driver for MSP SoC families.
