/*
 * Copyright (c) 2025 Texas Instruments
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <ti/mspm33/mspm33c321a.dtsi>
#include <ti/mspm33/c/mspm33c321a-pinctrl.dtsi>
#include <zephyr/dt-bindings/clock/msp_clock.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	model = "TI LP_MSPM33C321A/MSPM33C321A";
	compatible = "ti,mspm33c321a";

	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		rtc = &rtc;
	};

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &unicomm12_uart;
		zephyr,shell-uart = &unicomm12_uart;
		zephyr,canbus = &canfd0;
	};

	leds {
    		compatible = "gpio-leds";

    		led0: led_0 {
      			gpios = <&gpioc 26 GPIO_ACTIVE_HIGH>;
      			label = "Red LED";
   		};

		led1: led_1 {
			gpios = <&gpioc 27 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};

		led2: led_2 {
			gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
  	};
};

&cpu0 {
	clock-frequency = <DT_FREQ_M(160)>;
};


&ulpclk {
	status = "okay";
	clock-frequency = <DT_FREQ_M(40)>;
};

&mclk {
	status = "okay";
	clock-frequency = <DT_FREQ_M(160)>;
	clocks = <&hsclk 0>;
};

&mclkby2 {
	status = "okay";
};

&hsclk {
	status = "okay";
	clocks = <&syspll 0>;
};

&syspll {
	status = "okay";
};

&pll {
	status = "okay";
};

&hfclk {
	status = "disabled";
};

&mfclk {
	status = "disabled";
};

&lfclk {
	status = "okay";
	clocks = <&lfosc 0>;
};

&hfxt {
	status = "disabled";
	clock-frequency = <DT_FREQ_M(40)>;  /* 40MHz crystal */
	ti,xtal-startup-delay-us = <512>;
	ti,monitor-enable = <1>;       /* Enable clock monitoring */
};

&lfxt {
	status = "disabled";
	ti,low-cap;                    /* Enable low capacitance mode */
	ti,drive-strength = <3>;       /* Use higher drive strength */
	ti,monitor-enable = <1>;       /* Enable clock monitoring */
};


&pinctrl {
	status = "okay";
};

&sram0 {
	status = "okay";
};

&flash0 {
	status = "okay";
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
};

&adc0 {
	status = "okay";
};

&adc1 {
	status = "okay";
};

&unicomm1_0_uart {
	status = "okay";

	current-speed = <115200>;
	pinctrl-0 = <&uc1_0_tx_pa0 &uc1_0_rx_pa1>;
	pinctrl-names = "default";
};

/* Primary UART for console and shell */
&unicomm12_uart {
	status = "okay";

	current-speed = <115200>;
	pinctrl-0 = <&uc12_tx_pa10 &uc12_rx_pa11>;
	pinctrl-names = "default";
};

&rtc {
	status = "okay";
};

&canclk {
	clocks = <&syspll 0>;
	clock-frequency = <DT_FREQ_M(80)>;
	status = "okay";
};

&canfd0 {
	status = "okay";
	clock-frequency = <DT_FREQ_M(80)>;
	pinctrl-0 = <&canfd0_cantx_pa12 &canfd0_canrx_pa13>;
	pinctrl-names = "default";
};
