# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2024 Texas Instruments

config I2C_MSPM0
	bool "MSPM0 I2C driver"
	default y
	depends on DT_HAS_TI_MSPM0_I2C_ENABLED
	select USE_MSPM0_DL_UNICOMM_I2CC if (HAS_MSP_UNICOMM && !CONFIG_I2C_TARGET)
	select USE_MSPM0_DL_UNICOMM_I2CT if (HAS_MSP_UNICOMM && CONFIG_I2C_TARGET)
	select USE_MSPM0_DL_I2C if !(HAS_MSP_UNICOMM)
	select PINCTRL
	help
	  This option enables the TI MSPM0 I2C driver.

config I2C_SCL_LOW_TIMEOUT_MS
	int "I2C SCL Timeout"
	default 1000
	help
	  Hardware Timeout in milliseconds that reflects the acceptable
	  cumulative low period in a transaction. Note this
	  can be a restriction on very long SCL stretch

config I2C_TRANSFER_TIMEOUT_MS
	int "I2C Transfer Timeout"
	default 2000
	help
	  Software Timeout in milliseconds to wait for an I2C
	  transfer to complete before timing out.
