# Copyright (c) 2025 Texas Instruments
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_MSPM33C
  	bool
	select SOC_FAMILY_TI_MSPM33
	help
	  Enable support for TI MSPM33C series SoCs

config SOC_MSPM33C321A
	bool
	select SOC_SERIES_MSPM33C

config SOC_SERIES
	default "mspm33c" if SOC_SERIES_MSPM33C

config SOC
	default "mspm33c321a" if SOC_MSPM33C321A
