# TI MSPM33C

# Copyright (c) 2025 Texas Instruments
# Copyright (c) 2025 Linumiz
# SPDX-License-Identifier: Apache-2.0

config SOC_MSPM33C321A
	select ARM
	select CPU_CORTEX_M33
	select CPU_CORTEX_M_HAS_VTOR
	select CPU_HAS_ARM_MPU
	select CPU_HAS_FPU
	select ARMV8_M_DSP
	select BUILD_OUTPUT_BIN
	select BUILD_OUTPUT_HEX
	select HAS_MSPM33_SDK
	select CPU_CORTEX_M_HAS_SYSTICK
