/*
 * Copyright (c) 2026 Texas Instruments
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		led0 = &led0;
		i2c-controller = &i2c0;
		rtc = &rtc;
	};

	chosen {
		zephyr,system-timer-companion = &counterg0;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpiob 22 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};
};

&gpioa {
	status = "okay";
	zephyr,pm-device-runtime-auto;
};

&gpiob {
	status = "okay";
	zephyr,pm-device-runtime-auto;
};

&gpioc {
	status = "disabled";
};

&timg0 {
	status = "okay";
	ti,clk-prescaler = <1>;

	counterg0 {
		status = "okay";
	};
};

&mfclk {
	status = "okay";
};

&cpu0 {
	clock-frequency = <DT_FREQ_M(80)>;
};

&ulpclk {
	clock-frequency = <DT_FREQ_M(40)>;
	clk-div = <2>;
};

&mclk {
	clock-frequency = <DT_FREQ_M(80)>;
	clocks = <&syspll>;
};

&syspll {
	status = "okay";
};

&uart0 {
	clocks = <&ckm MSPM0_CLOCK_MFCLK>;
	current-speed = <460800>;
};

&stop1 {
	status = "disabled";
};

&stop2 {
	status = "disabled";
};

&stdby0 {
	status = "disabled";
};

&stdby1 {
	status = "okay";
};

&vref0 {
	status = "disabled";
};

&i2c0 {
	pinctrl-0 = <&i2c0_scl_pa1 &i2c0_sda_pa0>;
	pinctrl-names = "default";
	status = "okay";
};

&rtc {
	status = "okay";
};
