/*
 * Copyright (c) 2025 Texas Instruments
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv8-m.dtsi>
#include <mem.h>
#include <freq.h>
#include <zephyr/dt-bindings/clock/msp_clock.h>

/{
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m33";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <1>;
		};
	};

	ckm: clock-module {
		compatible = "ti,msp-clk";
		#clock-cells = <1>;
	};

	clocks: clocks {
		hfclk: hfclk {
			#clock-cells = <1>;
			compatible = "ti,msp-clk";
			status = "disabled";
		};

		lfclk: lfclk {
			#clock-cells = <1>;
			compatible = "ti,msp-clk";
			clock-frequency = <32768>;
			clocks = <&lfosc>;
		};

		hsclk: hsclk {
			#clock-cells = <1>;
			compatible = "ti,msp-clk";
			status = "disabled";
		};

		ulpclk: ulpclk {
			#clock-cells = <1>;
			compatible = "ti,msp-clk";
			clock-frequency = <DT_FREQ_M(32)>;
		};

		mclk: mclk {
			#clock-cells = <1>;
			compatible = "ti,msp-clk";
			clock-frequency = <DT_FREQ_M(32)>;
			clocks = <&sysosc>;
		};

		mfclk: mfclk {
			#clock-cells = <1>;
			compatible = "ti,msp-clk";
			clock-frequency = <DT_FREQ_M(4)>;
			status = "disabled";
		};

		pll: pll {
			compatible = "ti,msp-pll";
			clocks = <&sysosc>;
			p-div = <1>;
			q-div = <10>;
			clk1-div = <1>;
			clk0-div = <1>;
			clk2x-div = <1>;
			#clock-cells = <0>;
			status = "disabled";
		};

		syspll0: syspll0 {
			#clock-cells = <1>;
			compatible = "ti,msp-clk";
			status = "disabled";
		};
	};

	oscillators: oscillators {
		hfxt: hfxt {
			#clock-cells = <0>;
			compatible = "ti,msp-osc";
			clock-frequency = <DT_FREQ_M(40)>;
			status = "disabled";
		};

		lfxt: lfxt {
			#clock-cells = <0>;
			compatible = "ti,msp-osc";
			clock-frequency = <32768>;
			status = "disabled";
		};

		lfosc: lfosc {
			#clock-cells = <0>;
			compatible = "ti,msp-osc";
			clock-frequency = <32768>;
		};

		sysosc: sysosc {
			#clock-cells = <0>;
			compatible = "ti,msp-osc";
			clock-frequency = <DT_FREQ_M(32)>;
		};
	};

	soc {

		sram0: memory@30000000 {
			compatible = "mmio-sram";
			reg = <0x30000000 DT_SIZE_K(256)>;
		};

		flash0: serial-flash@10000000 {
			compatible = "serial-flash";
			reg = <0x10000000 DT_SIZE_M(1)>;
		};

		pinctrl: pin-controller@400f0000 {
			compatible = "ti,msp-pinctrl";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x400f0000 0x4000>;

			gpioa: gpio@400f0000 {
				compatible = "ti,msp-gpio";
				reg = <0x400f0000 0x2000>;
				interrupts = <6 0>;
				status = "disabled";
				gpio-controller;
				#gpio-cells = <2>;
			};

			gpiob: gpio@400f2000 {
				compatible = "ti,msp-gpio";
				reg = <0x400f2000 0x2000>;
				interrupts = <7 0>;
				status = "disabled";
				gpio-controller;
				#gpio-cells = <2>;
			};

			gpioc: gpio@400f4000 {
				compatible = "ti,msp-gpio";
				reg = <0x400f4000 0x2000>;
				interrupts = <8 0>;
				status = "disabled";
				gpio-controller;
				#gpio-cells = <2>;
			};
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <2>;
};
